@font-face {
  font-family: 'HeliosCond';
  src: url('../fonts/HeliosCondRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosCond';
  src: url('../fonts/HeliosCondBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosCond';
  src: url('../fonts/HeliosCondItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'HeliosCond';
  src: url('../fonts/HeliosCondBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
